
<html lang="en">
<head>
    <!--{% load static %}-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> template</title>
    <style>
        table,td{
            border:solid 3px black;
            padding: 3px;
        }
    </style>
</head>
<body>
    <p><b>hii world this is {{user}} password: {{pass}}</b></p>
    <table>
        <tr>

<td>nitandhra</td><td>tadepalligudem</td> </tr>
<tr ><td colspan='2'><image src='../static/logo.png' height="100px" width="100px"></image></td></tr>

      
        <tr>
<td>wellcome</td>
        </tr>
    </table>
</body>
</html>
